<div class="col-md-8 off-set-md-1">
    <div>
        <h1>
            {{titulo}}
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dolor velit eos a. Quasi dolor repudiandae
            dolores pariatur nam saepe dignissimos quibusdam! Amet laborum illo deleniti placeat rem eius optio!</p>
        <p>
            <a class="me-2 p-3 bg-primary text-white text-decoration-none rounded" href="">Ver productos</a>
            <a class="ms-2 p-3 bg-success text-white text-decoration-none rounded" href="">Añadir productos</a>
        </p>
    </div>
</div>